[core]
	editor = vim
[alias]
	sw = switch
	st = status
	prm = pull --rebase origin master
	po = push origin
	pof = push --force origin
	cm = commit -as
[push]
	default = current
[include]
	path = .gitconfig.user
